
.container-home {
    width: 100%;
    min-height: 100vh; 
    background-image: url('/paper_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    overflow-y: auto; 
}


.container-paginate{
    width: 300px;
    margin: auto;
}